.footer{
    background-color: rgb(35, 35, 35);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
}
.author{
    order: 2;
}
.footer-img{
    width: 200px;
    // height: 200px;
    border-radius: 50%;
}